@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noto-sans-myanmar-thin {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.noto-sans-myanmar-extralight {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.noto-sans-myanmar-light {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.noto-sans-myanmar-regular {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-myanmar-medium {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-myanmar-semibold {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.noto-sans-myanmar-bold {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-myanmar-extrabold {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.noto-sans-myanmar-black {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 900;
  font-style: normal;
}
body{
  font-family: "Noto Sans Myanmar",sans-serif;
}
